.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 170px;
  margin-right: 20px;
}

.covered {

}

.hand {
  overflow: auto;
}

#game {
  top: 50px;
}

.dealtCard{
  -webkit-animation: dealCard 0.5s ;
}

@-webkit-keyframes dealCard {
    0% {-webkit-transform: translateY(-50px)}
    100% {-webkit-transform: translateY(0px)}
}

.reveal {
  -webkit-animation: reveal .6s linear;
}
.uncover{
  -webkit-animation: uncover .6s linear;
}
@-webkit-keyframes reveal {
  0% {-webkit-transform: rotateY(0deg)}
  100% {-webkit-transform: rotateY(90deg)}
}


@-webkit-keyframes uncover {
  0% {-webkit-transform: rotateY(90deg)}
  100% {-webkit-transform: translateY(0deg)}
}

#gameStatus {
  top: 10px;
}